
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1466404723'); /* IE9*/
  src: url('iconfont.eot?t=1466404723#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1466404723') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1466404723') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1466404723#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-changyonggongju2:before { content: "\e653"; }
.icon-chanpinzhengce:before { content: "\e652"; }
.icon-chanpinyuyue:before { content: "\e651"; }
.icon-shouji:before { content: "\e63a"; }
.icon-fenxiang:before { content: "\e659"; }
.icon-jihui:before { content: "\e65a"; }
.icon-kerenxinxiguanli:before { content: "\e65b"; }
.icon-leibie:before { content: "\e65c"; }
.icon-remind:before { content: "\e64b"; }
.icon-rfq:before { content: "\e64c"; }
.icon-templatedefault:before { content: "\e64d"; }
.icon-chakan:before { content: "\e64f"; }
.icon-qrcode:before { content: "\e667"; }
.icon-rejectedorder:before { content: "\e668"; }
.icon-icon-gift:before { content: "\e65d"; }
.icon-icon-gift-card:before { content: "\e65e"; }
.icon-icon-time:before { content: "\e639"; }
.icon-icon-phone:before { content: "\e657"; }
.icon-icon-user:before { content: "\e645"; }
.icon-icon-integral:before { content: "\e644"; }
.icon-icon-file:before { content: "\e646"; }
.icon-icon-rules:before { content: "\e63f"; }
.icon-icon-maintenance-car:before { content: "\e64e"; }
.icon-icon-write:before { content: "\e63e"; }
.icon-icon-user1:before { content: "\e63c"; }
.icon-accountfilling:before { content: "\e65f"; }
.icon-icon-email:before { content: "\e648"; }
.icon-icon-money:before { content: "\e643"; }
.icon-icon-answer:before { content: "\e63d"; }
.icon-process:before { content: "\e666"; }
.icon-iconfontyanzhengmazhuanhuan:before { content: "\e664"; }
.icon-favorite:before { content: "\e663"; }
.icon-bad:before { content: "\e661"; }
.icon-back:before { content: "\e660"; }
.icon-chakanmingxi:before { content: "\e650"; }
.icon-icon-regist:before { content: "\e649"; }
.icon-icon-cars:before { content: "\e642"; }
.icon-icon-wheels:before { content: "\e654"; }
.icon-creditlevel:before { content: "\e662"; }
.icon-imagetext:before { content: "\e665"; }
.icon-fenlei:before { content: "\e658"; }
.icon-dianzan:before { content: "\e656"; }
.icon-dianji:before { content: "\e655"; }
.icon-weimingming8zhuanhuan:before { content: "\e641"; }
.icon-qiye:before { content: "\e637"; }
.icon-remen:before { content: "\e638"; }
.icon-weimingming7zhuanhuan:before { content: "\e640"; }
